body {
    font-family: Arial, sans-serif;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    margin: 20px;
}

button:hover {
    background-color: #0056b3;
}

#movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.movie-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 250px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

.movie-card img {
    width: 100%;
    border-radius: 5px;
}
